<main>
  <app-theme-switch></app-theme-switch>
  <section>
    <div>
      <h1 class="with-left-underline">Bienvenu</h1>
    </div>
    <app-employee-list></app-employee-list>
  </section>
</main>

<!-- <app-navbar></app-navbar>
<div aria-live="polite" aria-atomic="true">
  <ngb-toast
    *ngIf="showToast"
    [header]="toastHeader"

    (hidden)="onToastHidden()"
  >
      {{ toastMessage }}
      <div class="progress" *ngIf="showProgressBar">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width]="progress + '%'"
          [class.bg-success]="toastHeader === 'Succès'"
          [class.bg-danger]="toastHeader === 'Erreur'"
          aria-valuenow="progress"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
  </ngb-toast>
</div>
<router-outlet></router-outlet> -->
